:root {
    --color-primary: #917758;
    --color-primary-light: #f5eee6;
    --color-secondary: #3c2915;
}

* {
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    font-family: 'Poppins', sem serifa;

}

.container {
    width: 1170px;
    margin: 0 auto;
}



/**************
    HOME
***************/

.home {
    position: relative;
    background-size: cover;
    background-image: url(../files/bg-home.jpg);
    height: 100vh;
}

.home .header {
    padding: 30px;
}

.home .header .nav {
    display: flex;
    justify-content: center;
}

.home .header .nav ul {
    display: flex;
    list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}
.home .header .nav ul li a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .logo {
    margin: 0 30px;
}

.home .header .nav ul li a:hover{
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}



/*******************
    HOME - BANNER
********************/

.home .banner {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 270px;
    width: 760px;
    margin-left: -365px;
    margin-top: -70px;
}

.home .banner span {
    display: block;
}

.home .banner .slogan1 {
    color: #917758;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14px ;
}
.home .banner h1 {
    font-size: 120px    ;
}

.home .banner .slogan2 {
    margin-bottom: 15px;
}



/*********
    ABOUT
**********/

.about {
    background-color: #917758;
    font-family: 'Poppins', sem serifa;
}

.about .container {
    display: flex;
}

.about .timing {
    width: 33%;
    padding: 16px;
    position: relative;
    top: -50px;
    background-image: url(../files/brush-big.jpg);
}

.about .timing .overlay {
    background-color: rgba(0,0,0,0.8);
    text-align: center;
    padding: 45px 20px;
}

.about .timing .icon-cut {
    width: 45px;
}

.about .timing h3 {
    color: #917758;
    text-transform: uppercase;
    border-bottom: 1px solid #917758;
    width: fit-content;
    margin: 0 auto 30px auto;
    font-size: 30px;
}

.about .timing .text {
    margin: 10px 0;
}

.about .timing .text::after {
    content: '•';
    color: white;
    display: block;
    font-size: 28px;
    margin-top: 10px;
}

.about .timing .text:last-of-type:after {
    content: '|';
}

.about .timing .text h4 {
    color: gray;
    font-weight: 400;
    font-size: 15px;
}

.about .timing span {
    color: white;
    font-size: 15px;
    display: block;
}


.about .experience {
    width: 66%;
    color: white;
    margin: 45px 7%;
}

.about .experience h2 {
    font-weight: 400;
    font-size: 40px;
}
.about .experience h2::after {
    display: block;
    content: '';
    width: 100px;
    height: 3px;
    background-color: #a38f78;
    margin: 20px 0;
}
.about .experience .text {
    display: flex;
    justify-content: space-between;
}
.about .experience .text p {
    margin-bottom: 20px;
    font-size: 18px;
}



/************
    SERVICES
*************/

.services {
    padding: 100px 0;
    text-align: center;
    background-color: rgb(249, 235, 213);
}

.services h2 {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
}

.services .boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.services .box {
    border: 3px solid var(--color-primary);
    padding: 50px 40px;
    margin: 30px;
}

.services .box h4 {
    color: var(--color-secondary);
    margin-top: 30px;
}

.services .box p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 25px;
}



/***************
    APPOINTMENT
****************/

.appointment {
    padding: 100px 0;
    background-color: var(--color-primary);
    height: 100vh;
    background-image: url(../files/chair-ic.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 300px;
}

.appointment h2 {
    color: var(--color-primary-light);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.appointment img {
    margin: 0 auto;
    display: block;
}

.appointment form {
    margin-top: 80px;
}

.appointment .personal-data {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.appointment .input-wrapper {
    width: 100%;
    margin-right: 60px;
}

.appointment .input-wrapper:last-of-type {
    margin: 0;
}

.appointment label {
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
    color: var(--color-primary-light);
}

.appointment .personal-data input, .appointment .personal-data select, .appointment textarea {
    padding: 10px 10px;
    outline: none;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.appointment textarea {
    height: 100px;
}

.appointment button {
    background-color: var(--color-secondary);
    color: white;
    padding: 15px 40px;
    border: none;
    margin-top: 15px;
    font-weight: bold;
    text-transform: uppercase;
}


/***********
    GALLERY
************/

.gallery {
    padding: 100px 0;
    background-color: var(--color-primary-light);
}

.gallery h2 {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.gallery img {
    margin: 0 auto;
    display: block;
}

.gallery .gallery-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 900px;
    height: 100vh;
    margin: 50px auto;
}

.gallery .gallery-wrapper div {
    border: 10px solid var(--color-primary);
    margin: 6px;
    width: 33%;
}

.gallery .gallery-wrapper div img{
    width: 100%;
}